<?xml version="1.0"?>

<robot name="mobile_velodyne" xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- Main link -->
  <xacro:macro name="mobile_velodyne_base_macro">
    <!--<xacro:property name="ns" value="$(arg robot_name)" />-->
    <xacro:property name="mass" value="0.2" />
    <link name="$(arg robot_name)">
      <inertial>
        <mass value="${mass}"/>
        <origin xyz="0 0 0" />
        <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
      </inertial>
    </link>
  </xacro:macro>
  <xacro:mobile_velodyne_base_macro/>

  <!-- Include Velodyne -->
  <xacro:include filename="$(find erl_models)/urdf/sensors/VLP-16.urdf.xacro" />
  <xacro:VLP-16 name="$(arg robot_name)/velodyne" parent="$(arg robot_name)" topic="point_cloud" robot="velodyne0">
    <origin xyz="0.0 0.0 0.1" rpy="0 0 0"/>
  </xacro:VLP-16>

  <!-- Plugins -->
  <gazebo>
    <!-- Ground Truth Odom Plugin -->
    <plugin name="velodyne_groundtruth_sim" filename="libgazebo_ros_p3d.so">
      <robotNamespace>$(arg robot_name)</robotNamespace>
      <updateRate>100.0</updateRate>
      <bodyName>$(arg robot_name)</bodyName>
      <topicName>ground_truth/odom</topicName>
      <gaussianNoise>0.0</gaussianNoise>
      <frameName>map</frameName>
    </plugin>
   </gazebo>  
</robot>

